<h2>Owner</h2>
<form ng-submit="$ctrl.submitOwnerForm()" style="max-width: 25em;">
    <div class="form-group">
        <label>First name</label>
        <input class="form-control" name="firstName" ng-model="$ctrl.owner.firstName" required/>
        <span class="help-block" ng-show="ownerForm.firstName.$error.required">First name is required.</span>
    </div>

    <div class="form-group">
        <label>Last name</label>
        <input class="form-control" name="lastName" ng-model="$ctrl.owner.lastName" required/>
        <span class="help-block" ng-show="ownerForm.lastName.$error.required">Last name is required.</span>
    </div>


    <div class="form-group">
        <label>Address</label>
        <input class="form-control" name="address" ng-model="$ctrl.owner.address" required/>
        <span class="help-block" ng-show="ownerForm.address.$error.required">Address is required.</span>
    </div>

    <div class="form-group">
        <label>City</label>
        <input class="form-control" name="city" ng-model="$ctrl.owner.city" required/>
        <span class="help-block" ng-show="ownerForm.city.$error.required">City is required.</span>
    </div>

    <div class="form-group">
        <label>Telephone</label>
        <input class="form-control" maxlength="12" name="telephone" ng-model="$ctrl.owner.telephone"
               pattern="[0-9]{12}" placeholder="905554443322" required/>
        <span class="help-block" ng-show="ownerForm.telephone.$error.required">Telephone is required.</span>
    </div>

    <div class="form-group">
        <button class="btn btn-default" type="submit">Submit</button>
    </div>
</form>

